  html {
    box-sizing: border-box;
    font-size: 62.5%;

    @media(max-width: ${variables.breakpoints.md}) {
      font-size: 56.25%;
    }
    @media(max-width: ${variables.breakpoints.sm}) {
      font-size: 50%;
    }
  }

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  body {
    width: 100%;
    margin: 0;
  }
  p {
    font-size: 16px;
  }
  ul {
    padding: 0;
    margin: 0;
  }

.wrapper {
    background: #30336b;
    height: 100vh;
    padding: 40px;
}

.wrapper h1 {
    width: 100%;
    margin-top: 0;
    color: #eee;
    font-size: 28px;
}

.images {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 60%;
    grid-gap: 10px
}