<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>
<body>
<div class="wrapper">
    <h1>Dashboard</h1>

    <div class="content">
        <a href="/cctv">
            <div class="content__item">
                <p>CCTV</p>
            </div>
        </a>
        <a href="/images">
            <div class="content__item">
                <p>Images</p>
            </div>
        </a>

    </div>
</div>

</body>
</html>